node-red.json
[{"id":"3ed99aae.66df66","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d2a77993.84f2d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5e246205.29c7e4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#823300","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#823300","edited":true},"page-titlebar-backgroundColor":{"value":"#823300","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#ce5100","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#823300","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ce614113.bda058","type":"ui_group","name":"Sensor 001","tab":"d2a77993.84f2d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"12e1f2ea.1113e5","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f1f80a4.2b5b","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"influxdb","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://influxdb:8086","rejectUnauthorized":true},{"id":"6d7c0062.4fa3b8","type":"mqtt in","z":"3ed99aae.66df66","name":"","topic":"time/001","qos":"2","datatype":"auto","broker":"12e1f2ea.1113e5","x":80,"y":40,"wires":[["7acaa402.5e932c","eb7bc3a6.58326"]]},{"id":"7b6355c3.7aed2c","type":"ui_text","z":"3ed99aae.66df66","group":"ce614113.bda058","order":1,"width":0,"height":0,"name":"","label":"Last read","format":"{{msg.payload}} UTC","layout":"row-spread","x":380,"y":40,"wires":[]},{"id":"171c5920.b82787","type":"mqtt in","z":"3ed99aae.66df66","name":"","topic":"temperature/001","qos":"2","datatype":"auto","broker":"12e1f2ea.1113e5","x":100,"y":100,"wires":[["7acaa402.5e932c","a8714295.1481c8"]]},{"id":"baa09fea.c7aea","type":"mqtt in","z":"3ed99aae.66df66","name":"","topic":"humidity/001","qos":"2","datatype":"auto","broker":"12e1f2ea.1113e5","x":90,"y":180,"wires":[["7acaa402.5e932c","bac61f8a.90b53"]]},{"id":"a9efced5.6557b8","type":"mqtt in","z":"3ed99aae.66df66","name":"","topic":"pressure/001","qos":"2","datatype":"auto","broker":"12e1f2ea.1113e5","x":90,"y":240,"wires":[["315b1b09.945184","7acaa402.5e932c"]]},{"id":"315b1b09.945184","type":"ui_text","z":"3ed99aae.66df66","group":"ce614113.bda058","order":4,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}} hPa","layout":"row-spread","x":380,"y":240,"wires":[]},{"id":"6c237080.c93388","type":"influxdb out","z":"3ed99aae.66df66","influxdb":"5f1f80a4.2b5b","name":"","measurement":"sensor_data","precision":"","retentionPolicy":"","database":"influxdb","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1080,"y":140,"wires":[]},{"id":"71961153.fae36","type":"join","z":"3ed99aae.66df66","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":140,"wires":[["a19bfc53.bef6d8"]]},{"id":"7acaa402.5e932c","type":"change","z":"3ed99aae.66df66","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"/001","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":140,"wires":[["71961153.fae36"]]},{"id":"e4515c63.124148","type":"function","z":"3ed99aae.66df66","name":"","func":"msg.payload.time = new Date(Number.parseFloat(msg.payload.time)*1000);\nmsg.payload.sensor = 1;\nmsg.payload.temperature = Number.parseFloat(msg.payload.data.temperature);\nmsg.payload.humidity = Number.parseFloat(msg.payload.data.humidity);\nmsg.payload.pressure = Number.parseFloat(msg.payload.data.pressure);\ndelete msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":140,"wires":[["6c237080.c93388"]]},{"id":"eb7bc3a6.58326","type":"function","z":"3ed99aae.66df66","name":"","func":"msg.payload = new Date(msg.payload * 1000).toLocaleTimeString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":40,"wires":[["7b6355c3.7aed2c"]]},{"id":"bac61f8a.90b53","type":"ui_text","z":"3ed99aae.66df66","group":"ce614113.bda058","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":380,"y":180,"wires":[]},{"id":"a8714295.1481c8","type":"ui_text","z":"3ed99aae.66df66","group":"ce614113.bda058","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} °C","layout":"row-spread","x":370,"y":100,"wires":[]},{"id":"6aa5b52e.533444","type":"rbe","z":"3ed99aae.66df66","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.data","x":750,"y":140,"wires":[["e4515c63.124148"]]},{"id":"a19bfc53.bef6d8","type":"function","z":"3ed99aae.66df66","name":"","func":"msg.payload.data = {\n  temperature: Math.round(Number.parseFloat(msg.payload.temperature)),\n  humidity: Math.round(Number.parseFloat(msg.payload.humidity)),\n  pressure: Math.round(Number.parseFloat(msg.payload.pressure))\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":140,"wires":[["6aa5b52e.533444"]]}]