node-red.json
[{"id":"3ed99aae.66df66","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6ee759b4.04cb88","type":"postgrestor","z":"3ed99aae.66df66","name":"","query":"SELECT * FROM cacti_form;","postgresDB":"9f5f775e.9048d","output":true,"outputs":1,"x":450,"y":280,"wires":[["d664430b.c5d188"]]},{"id":"a774c8af.d1a68","type":"inject","z":"3ed99aae.66df66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["6ee759b4.04cb88"]]},{"id":"d664430b.c5d188","type":"debug","z":"3ed99aae.66df66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"6d7c0062.4fa3b8","type":"mqtt in","z":"3ed99aae.66df66","name":"","topic":"time/001","qos":"2","datatype":"auto","broker":"12e1f2ea.1113e5","x":180,"y":400,"wires":[["7b6355c3.7aed2c","6355457.66f33bc"]]},{"id":"7b6355c3.7aed2c","type":"ui_text","z":"3ed99aae.66df66","group":"ce614113.bda058","order":1,"width":0,"height":0,"name":"","label":"Last read","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":400,"wires":[]},{"id":"171c5920.b82787","type":"mqtt in","z":"3ed99aae.66df66","name":"","topic":"temperature/001","qos":"2","datatype":"auto","broker":"12e1f2ea.1113e5","x":200,"y":480,"wires":[["f8e9a482.e210b","3fe045c5.01357a"]]},{"id":"baa09fea.c7aea","type":"mqtt in","z":"3ed99aae.66df66","name":"","topic":"humidity/001","qos":"2","datatype":"auto","broker":"12e1f2ea.1113e5","x":190,"y":600,"wires":[["34ae91c7.80ff26","7acaa402.5e932c"]]},{"id":"a9efced5.6557b8","type":"mqtt in","z":"3ed99aae.66df66","name":"","topic":"pressure/001","qos":"2","datatype":"auto","broker":"12e1f2ea.1113e5","x":190,"y":680,"wires":[["315b1b09.945184","5c6e41b4.e772e"]]},{"id":"315b1b09.945184","type":"ui_text","z":"3ed99aae.66df66","group":"ce614113.bda058","order":4,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}} hPa","layout":"row-spread","x":700,"y":680,"wires":[]},{"id":"f8e9a482.e210b","type":"ui_gauge","z":"3ed99aae.66df66","name":"","group":"ce614113.bda058","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-20","max":"40","colors":["#00f2ff","#19ff00","#ca3838"],"seg1":"10","seg2":"25","x":690,"y":480,"wires":[]},{"id":"34ae91c7.80ff26","type":"ui_gauge","z":"3ed99aae.66df66","name":"","group":"ce614113.bda058","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#eda000","#19ff00","#ca3838"],"seg1":"30","seg2":"70","x":700,"y":600,"wires":[]},{"id":"6c237080.c93388","type":"influxdb out","z":"3ed99aae.66df66","influxdb":"5f1f80a4.2b5b","name":"","measurement":"sensor_data","precision":"","retentionPolicy":"","database":"influxdb","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1200,"y":540,"wires":[]},{"id":"71961153.fae36","type":"join","z":"3ed99aae.66df66","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":610,"y":540,"wires":[["e4515c63.124148"]]},{"id":"6355457.66f33bc","type":"change","z":"3ed99aae.66df66","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"/001","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":440,"wires":[["71961153.fae36"]]},{"id":"3fe045c5.01357a","type":"change","z":"3ed99aae.66df66","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"/001","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[["71961153.fae36"]]},{"id":"7acaa402.5e932c","type":"change","z":"3ed99aae.66df66","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"/001","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":560,"wires":[["71961153.fae36"]]},{"id":"5c6e41b4.e772e","type":"change","z":"3ed99aae.66df66","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"/001","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":640,"wires":[["71961153.fae36"]]},{"id":"2e05e789.610858","type":"debug","z":"3ed99aae.66df66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":600,"wires":[]},{"id":"e4515c63.124148","type":"function","z":"3ed99aae.66df66","name":"","func":"msg.payload.time = new Date(Number.parseFloat(msg.payload.time)*1000);\nmsg.payload.sensor = 1;\nmsg.payload.temperature = Number.parseFloat(msg.payload.temperature);\nmsg.payload.humidity = Number.parseFloat(msg.payload.humidity);\nmsg.payload.pressure = Number.parseFloat(msg.payload.pressure);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":540,"wires":[["2e05e789.610858","6c237080.c93388"]]},{"id":"9f5f775e.9048d","type":"postgresDB","name":"postgres@postgres:5432/postgres","host":"postgres","hostFieldType":"str","port":"5432","portFieldType":"num","database":"postgres","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","user":"postgres","userFieldType":"str","password":"postgres","passwordFieldType":"str"},{"id":"12e1f2ea.1113e5","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce614113.bda058","type":"ui_group","name":"Sensor 001","tab":"d2a77993.84f2d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f1f80a4.2b5b","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"influxdb","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://influxdb:8086","rejectUnauthorized":true},{"id":"d2a77993.84f2d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]